@model List<TakipSiparis.Models.Orders>
@{
    ViewBag.Title = "PendingApproval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Onay Bekleyenler</h2>
<div id="pendingID">
    <table class="table" id="orderTable">
        <thead style="background-color:aliceblue">
           <tr>
               <th>ID</th>
               <th>Category</th>
               <th>Brand</th>
               <th>Product Name</th>
               <th>Amount</th>
               <th>Price</th>
               <th>Order Date</th>
               <th>Payment Method</th>
               <th>Estimated Arrival</th>
               <th>User</th>
               <th>Note</th>
               <th>Decision</th>
                <th> </th>
           </tr>
    </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <th id="upid">@Html.DisplayFor(x => item.ID)</th>
                <td>@Html.DisplayFor(x => item.Category)</td>
                <td>@Html.DisplayFor(x => item.Brand)</td>
                <td>@Html.DisplayFor(x => item.ProductName)</td>
                <td>@Html.DisplayFor(x => item.Amount)</td>
                <td>@Html.DisplayFor(x => item.Price)</td>
                <td>@Html.DisplayFor(x => item.OrderDate)</td>
                <td>@Html.DisplayFor(x => item.PayMeth)</td>
                <td>@Html.DisplayFor(x => item.EstArrival)</td>

                <td>@Html.DisplayFor(x => item.UserName)</td>
                <td>@Html.DisplayFor(x => item.Note)</td>
                <td id="decisionId">@Html.DisplayFor(x => item.Decision)</td>


                <td> </td>
                <td>
                    <input type="submit" name="btn" value="approve" class="btn btn-success btnApp" data-id="@item.ID" />
                    <br />
                    <input type="submit" name="btn" value="deny" class="btn btn-danger btnDen" data-id="@item.ID" />
                </td>
            </tr>
            }
        </tbody>
    </table>
    </div>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#orderTable").on("click", ".btnApp", function () {
                var btn = $(this);

                bootbox.confirm("Kabul ediyorsunuz. Emin misiniz?", function (result) {
                    if (result) {
                        var id = btn.data("id");
                        $('#decisionId').text("Accept");
                        $.ajax({
                            type: "POST",
                            url: "ApproveResult",
                            data: { id: id },
                            success: function () {
                            }

                        });
                    }
                });

            });
        });
        $(function () {
            $("#orderTable").on("click", ".btnDen", function () {
                var btn = $(this);
                bootbox.confirm("Reddediyorsunuz. Emin misiniz?" + btn.data(""), function (result) {
                    if (result) {
                        var id = btn.data("id");
                        $('#decisionId').text("Decline");

                        $.ajax({
                            type: "POST",
                            url: "DenyResult",
                            data: { id: id },
                            success: function () {
                            }

                        });
                    }
                });

            });
        });

    </script>
