
@model List<TakipSiparis.Models.Orders>
@{
    ViewBag.Title = "PendingPayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Odeme Bekleyenler</h2>
<table class="table" id="orderTable">
    <thead style="background-color:aliceblue">
           <tr>
               <th>ID</th>
               <th>Category</th>
               <th>Brand</th>
               <th>Product Name</th>
               <th>Amount</th>
               <th>Price</th>
               <th>Order Date</th>
               <th>Payment Method</th>
               <th>Estimated Arrival</th>
               <th>Termin Date</th>
               <th>Payment Date</th>
               <th>User</th>
               <th>Note</th>
               
               
           </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@Html.DisplayFor(x => item.ID)</th>
                <td>@Html.DisplayFor(x => item.Category)</td>
                <td>@Html.DisplayFor(x => item.Brand)</td>
                <td>@Html.DisplayFor(x => item.ProductName)</td>
                <td>@Html.DisplayFor(x => item.Amount)</td>
                <td>@Html.DisplayFor(x => item.Price)</td>
                <td>@Html.DisplayFor(x => item.OrderDate)</td>
                <td>@Html.DisplayFor(x => item.PayMeth)</td>
                <td>@Html.DisplayFor(x => item.EstArrival)</td>
                <td>@Html.DisplayFor(x => item.TerminDate)</td>
                <td>@Html.DisplayFor(x => item.PaymentDate)</td>
                <td>@Html.DisplayFor(x => item.UserName)</td>
                <td>@Html.DisplayFor(x => item.Note)</td>
                <td>
                    @Html.Raw("<input type='button' class='btn btn-primary' value=Termin onclick='EditOrd(" + item.ID + ")' />")
                    
                    @Html.Raw("<input type='button' class='btn btn-secondary' value=Payment style='margin-top: 5px' onclick='AddPayment(" + item.ID + ")' />")
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="openpopup" style="display:none"></div>
<script>
    function EditOrd(ID) {
        var x = $('#openpopup');
        x.load("/ordermanagement/Orders/Edit?id=" + ID, function () {

            x.dialog({
                show: {
                    effect:"drop",
                    duration:1000
                },
                hide: {
                    effect: "drop",
                    duration: 500
                },
                modal: true,
                width: 450,
                height: 250,
                title: " update" + ID,
                resizable:false
            })
        });
    }
    function AddPayment(ID) {
        var x = $('#openpopup');
        x.load("/ordermanagement/Orders/AddPayment?id=" + ID, function () {

            x.dialog({
                show: {
                    effect: "drop",
                    duration: 1000
                },
                hide: {
                    effect: "drop",
                    duration: 500
                },
                modal: true,
                width: 450,
                height: 250,
                title: " update " + ID,
                resizable: false
            })
        });
    }

</script>